/*Se importa pestaña Sobre nosotros*/
@import "sobre-nosotros";

/*Se importa pestaña Servicios*/
@import "servicios";

/*Se importa pestaña Rubro*/
@import "rubro";

/*Se importa pestaña Encuestas*/
@import "encuestas";

/*SE IMPORTA EL TIPO DE LETRA DESDE GOOGLE FONTS*/ 
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


/*Variables colores*/
$negro: #000000;

/*RESETEO DE CSS*/
* {
    padding: 0;
    margin: 0;
} 

/*TITULO INDEX*/
.titulos{
    display: flex;
    padding-top: 25px;
    padding-bottom: 45px;
    justify-content: center;
}

/*CUERPO*/
body {
    font-family: 'Barlow Condensed', sans-serif;
}


/*Se agrega nesting al header*/
header{
    background-color: $negro;
    top: 0;
    display: flex;
    justify-content: space-between;

    .menu-nav {
        padding: 20px;
        display: flex;
        align-items: center;
    }

        .nav ul {
            display: flex;
        }

        ul li {
            list-style: none;
            display: inline-block;
            margin: 0px 10px;
        }
        
        ul li a{
            list-style: none;
            color: white;
            font-size: 1.4rem;
            text-decoration: none;
        }
}


/*Se agrega nesting al footer*/
footer { 
   position:fixed;
   bottom:0px;
   width:100%;
   background:black;

   ul {
    display: flex;
    justify-content: center;
    color:white;
    }

    li {
    list-style: none;
    }

    .bi {
    color: white;
    font-size: 1.8rem;
    }

}



/*Mobile*/
@media only screen and (max-width: 576px){

    header{
        flex-direction: column;
        align-items: center;
    }

    header img{
        width: 20%;
    }

    ul li a{
        font-size: 1.2rem;
    }

    .fondo{
        background-color: black;
    }

    .container-valores{
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .container-servicios{
        grid-template-columns: 1fr;
       
    }

    .container-servicios2{
        grid-template-columns: 1fr;
       padding-bottom: 30px;
    }

    .container-rubro{
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .container-encuestas{
        grid-template-columns: 1fr;
    }

    .form1{
        grid-template-columns: 1fr;
    }

}

